html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
   
    background-image: url('../imagini/247b14696a7347a5d4966e3759f6a982.jpg');
    background-size: auto
}