@page
@model IndexModel
@{
    ViewData["Title"] = "Produse cosmetice";
}

<div class="text-center">
    <h1 class="display-4">Bun venit în aplicația ”Produsele cosmetice: Beauty ”</h1>
    <p>
        <a href="Acesta este site-ul oficial al celui mare mare producător de produse cosmetice din țară.”</a>.</p>
</div>


    <ul>
        <li>Clienti</li>
        <li>"Produse</li>
        <li>Distribuitori<li>
    </ul>
</div>
<div id="Clienti" style="color: black">
    <h3>Detalii Clienti</h3>
   În această secțiune puteți să vă înregistrați pentru a putea cumpăra produsele noastre.
</div>



<div id="Produse" style="color: black">
    <h3>Detalii Produse</h3>
    Puteți vedea detalii despre produse, ce produse noi avem în stoc și multe altele.
   </div>


<div id="Distribuitori" style="color: black">
    <h3>Detalii Distribuitori</h3>
   Avem o gamă largă de distribuitori dornici să vă asigure trasnportul optim.
</div>
<div>
    <a href="/Produse">Vezi Produse</a>
    <a href="/Clienti">Vezi Clienti</a>
    <a href="/Distribuitori">Vezi Distribuitori</a>
</div>

